<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="range-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `range-component`
     * Range selector
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class RangeComponent extends Polymer.Element {
      static get is() { return 'range-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'range-component'
          }
        };
      }
    }

    window.customElements.define(RangeComponent.is, RangeComponent);
  </script>
</dom-module>
