<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">

<dom-module id="range-component">
  <template>
    <style>
      :host {
        display: block;
      }
      :host .count-container{
        width: 100%;
        height:30px;
        border-radius: 15px 15px 0 0;
        background:lightsteelblue;
        display: table;
      }
      :host .count-content{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 10px;
      }
      :host .count-card{
        display: inline-block;
        width: calc(96%/6);
        height: 60px;
        background: purple;
        vertical-align: top;
      }
      :host .count-card span{
        display: block;
        width: 100%;
      }
      :host .table-container{
        margin:0;
        padding: 0;
        width: 100%;
        height:70px;
        background: rgb(228, 220, 220);
      }
      :host .table-container .table-row{
        display: block;
        width:100%;
        height:30px;
        color: black;
        display: table;
      }
      :host .table-container .table-row .col{
        /* display: inline-block; */
        width: 30%;
        height: 100%;
        text-align:center;
        display: table-cell;
        vertical-align: middle;
        font-weight: bolder;
      }
    </style>
    <div class="table-container">


      <div class="table-row">
          <div class="col">
            Veces visto:
          </div>
          <div class="col">
            Nombre:
          </div>
          <div class="col">
            Edad:
          </div>
        </div>

        <dom-repeat items="{{people}}" filter="showUser">
          <template>
              <div class="table-row">
                <div class="col" style$="color: {{getRange(item.age)}};">
                  {{item.times}}
                </div>
                <div class="col" style$="color: {{getRange(item.age)}};">
                  {{item.name}}
                </div>
                <div class="col" style$="color: {{getRange(item.age)}};">
                  {{item.age}}
                </div>
              </div>
          </template>
        </dom-repeat>

    </div>
  </template>

  <script>
    class RangeComponent extends Polymer.Element {
      static get is() { return 'range-component'; }
      static get properties() {
        return {
          currentUser: {
            type: Number,
            value: 0
          },
          people: {
            type: Object,
            value: [
              {
                name: "Luis Kelly Diaz",
                age: 21
              },
              {
                name: "Usuario 2",
                age: 27
              },
              {
                name: "Usuario 3",
                age: 50
              },
              {
                name: "Usuario 4",
                age: 10
              },
              {
                name: "Usuario 5",
                age: 34
              },
              {
                name: "Usuario 6",
                age: 36
              }
            ]
          }
        };
      }
      getRange(age){
        
        if(13>=age){
          //13 <= edadparticipante : color azul
          return "blue"
        }else if(13<age&&age<=18){
          //13 > edadparticipante <= 18 : color rojo 
          return "red"
        }else if(18<age&&age<=25){
          //18 > edadparticipante <= 25 : color naranja
          return "orange"
        }else if(25<age&&age<=30){
          //25 > edadparticipante <= 30 : color verde
          return "green"
        }else if(30<age&&age<=35){
          //30 > edadparticipante <= 35 : color rosa 
          return "pink"
        }else if(35<age&&age<=40){
          //35 > edadparticipante <= 40 : color amarillo
          return "yellow"
        }else if(40<age){
          //40 > edadparticipante : color morado
          return "purple"
        }else{return false}

      }
      showUser(item,index){
        return (this.currentUser==index ? true : false)
      }
      ready(){
        super.ready();
        let newPeople = this.people.map((p)=>{
          p.times = 0;
          return p;
        });
        this.set("people",newPeople);

        setInterval(()=>{
          console.log("Changing currentUser");
          this.currentUser = (Math.floor(Math.random() * 6) + 1) - 1;
          this.people[this.currentUser].times++;
          this.people = this.people.slice();
        },1500);

      }
    }

    window.customElements.define(RangeComponent.is, RangeComponent);
  </script>
</dom-module>
